<!--<footer class="navbar-fixed-bottom">-->
<!--<footer>-->
<!--    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <ul class="list-unstyled list-inline footer-social">
                        <li><i class="ion-social-facebook"></i></li>
                        <li><i class="ion-social-twitter"></i></li>
                        <li><i class="ion-social-googleplus"></i></li>
                        <li><i class="ion-social-linkedin"></i></li>
                    </ul>
                    <p class="footer-copyright">&copy; Legalstart.pl 2017.<br> All rights reserved.</p>
                </div>
                <div class="col-xs-8 footer-newsletter">
                    <i class="ion-ios-email-outline"></i>
                    <p class="footer-newsletter-title">Inscrivez-vous à notre newsletter </p>
                    <p class="footer-newsletter-subtitle">pour recevoir nos dernières informations</p>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                        </div>
                        <button type="submit" class="btn btn-default">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle"></div>
    <div class="footer-bottom"></div>-->
<!--</footer>-->
