<div class="front section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="front-box">
                    <h1 class="front-title">
                        Biscuit powder cupcake cake cupcake cotton candy gingerbread.<br>
                        Apple pie bear claw liquorice pastry.
                    </h1>
                    <p class="front-label">Lemon drops:</p>
                    <div class="front-buttons">
                        <a class="btn btn btn-success btn-lg"><small>Marzipan</small>chocolate</a>
                        <a class="btn btn btn-success btn-lg"><small>Lollipop</small>dessert</a>
                        <a class="btn btn btn-success btn-lg"><small>Chocolate</small>donut</a>
                        <a class="btn btn btn-success btn-lg"><small>Topping</small>soufflé</a>
                        <a class="btn btn btn-success btn-lg"><small>Cake</small>cupcake</a>
                    </div>
                    <a href="#">
                        <span class="front-document"></span>
                        Cake jelly beans lollipop gingerbread
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tools section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tools-title">Cake jelly beans ?</h2>
            </div>
        </div>
        <div class="row tools-item">
            <div class="col-xs-2 tools-img">
                <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="col-xs-10">
                <p><strong>Choisissez la bonne structure juridique</strong> - Utilisez nos outils pour vous aider à trouver la structure juridique la plus adaptée à vos besoins</p>
            </div>
        </div>
        <div class="row tools-item">
            <div class="col-xs-2 tools-img">
                <i class="ion-ios-photos-outline"></i>
            </div>
            <div class="col-xs-10">
                <p><strong>Créez votre document</strong> - Répondez à des questions simples. Legalstart crée un document sur-mesure</p>
            </div>
        </div>
    </div>
</div>

<div class="testimony section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="testimony-content">
                    <p class="testimony-text">"J’ai utilisé Legalstart.fr pour ouvrir un restaurant et créer une SARL. En moins de 20 minutes, j’ai reçu des statuts parfaitement adaptés à notre situation pour un coût très économique."</p>
                    <p class="testimony-author">Charles de BCBG</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="testimony-img"></div>
            </div>
        </div>
    </div>
</div>

<div class="benefits section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="benefits-title">Un service pensé par des entrepreneurs, pour des entrepreneurs</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 benefits-item">
                <div class="benefits-img">
                    <i class="ion-ios-alarm-outline"></i>
                </div>
                <h3 class="benefits-subtitle">Simple et rapide</h3>
                <p>Créez vos documents et effectuez vos formalités en moins de 10 minutes</p>
                <a href="#" data-toggle="modal" data-target="#benefitsModal1">En savoir plus</a>
            </div>
            <div class="col-sm-4 benefits-item">
                <div class="benefits-img">
                    <i class="ion-ios-pricetags-outline"></i>
                </div>
                <h3 class="benefits-subtitle">Des prix imbattables</h3>
                <p>Créez vos documents et effectuez vos formalités en moins de 10 minutes</p>
                <a href="#" data-toggle="modal" data-target="#benefitsModal2">En savoir plus</a>
            </div>
            <div class="col-sm-4 benefits-item">
                <div class="benefits-img">
                    <i class="ion-ios-locked-outline"></i>
                </div>
                <h3 class="benefits-subtitle">Des documents de qualité</h3>
                <p>Créez vos documents et effectuez vos formalités en moins de 10 minutes</p>
                <a href="#" data-toggle="modal" data-target="#benefitsModal3">En savoir plus</a>
            </div>
        </div>
    </div>
</div>

<!-- Benefits modal 1 -->
<div class="modal fade" id="benefitsModal1" tabindex="-1" role="dialog" aria-labelledby="benefitsModal1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Simple et rapide</h4>
            </div>
            <div class="modal-body">
                <p>La plupart des utilisateurs prennent moins de 10min pour remplir
                    les questionnaires permettant de générer les documents juridiques.
                    Les questions sont simples et aucun document n’est nécessaire pour y répondre.</p>
                <p>Toutes les formalités obligatoires (dépôt au Greffe, enregistrement
                    à l’INPI etc.) sont réalisées automatiquement et de manière dématérialisée
                    par Legalstart. Vous n’avez pas besoin de vous déplacer, et rien à imprimer !</p>
            </div>
        </div>
    </div>
</div>

<!-- Benefits modal 2 -->
<div class="modal fade" id="benefitsModal2" tabindex="-1" role="dialog" aria-labelledby="benefitsModal2Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>La plupart des utilisateurs prennent moins de 10min pour remplir
                    les questionnaires permettant de générer les documents juridiques.
                    Les questions sont simples et aucun document n’est nécessaire pour y répondre.</p>
                <p>Toutes les formalités obligatoires (dépôt au Greffe, enregistrement
                    à l’INPI etc.) sont réalisées automatiquement et de manière dématérialisée
                    par Legalstart. Vous n’avez pas besoin de vous déplacer, et rien à imprimer !</p>
            </div>
        </div>
    </div>
</div>

<!-- Benefits modal 3 -->
<div class="modal fade" id="benefitsModal3" tabindex="-1" role="dialog" aria-labelledby="benefitsModal3Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>La plupart des utilisateurs prennent moins de 10min pour remplir
                    les questionnaires permettant de générer les documents juridiques.
                    Les questions sont simples et aucun document n’est nécessaire pour y répondre.</p>
                <p>Toutes les formalités obligatoires (dépôt au Greffe, enregistrement
                    à l’INPI etc.) sont réalisées automatiquement et de manière dématérialisée
                    par Legalstart. Vous n’avez pas besoin de vous déplacer, et rien à imprimer !</p>
            </div>
        </div>
    </div>
</div>

<div class="experts section text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 experts-item">
                <img src="/assets/img/expert1.jpg" alt="Expert" class="img-circle experts-img">
                <h2 class="experts-title">Nos experts sont là pour vous aider</h2>
                <p>
                    <strong>Experts :</strong>Contactez gratuitement nos experts<br>
                    par téléphone<strong>(01 76 39 00 60</strong>) ou par chat.
                </p>
                <p>Tous nos experts sont basés en France.</p>
            </div>
            <div class="col-sm-6 experts-item">
                <img src="/assets/img/expert2.png" alt="Expert" class="img-circle experts-img">
                <h2 class="experts-title">Nos experts sont là pour vous aider</h2>
                <p>
                    <strong>Experts :</strong>Contactez gratuitement nos experts<br>
                    par téléphone<strong>(01 76 39 00 60</strong>) ou par chat.
                </p>
                <p>Tous nos experts sont basés en France.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success"><i class="ion-ios-telephone-outline"></i> 502-509-134</button>
            </div>
        </div>
    </div>
</div>

<div class="video section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="video-title">Gérez toutes vos formalités en quelques clics !</h2>
                <div class="video-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2m9uKNZvjSA?showinfo=0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
