<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Manage texts</h2>
                <p>Manage texts</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div> 
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Manage users</h2>
                <p>Manage users</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div> 
        </div>    
    </div>

    <a *ngFor="let document of documents" [routerLink]="['/admin/documents', document.id]">
        {{document.title}}
    </a>
</div>
