<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Orders</h2>
            <alert></alert>
            <div class="jumbotron">
                <h4>Search by...</h4>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" value="name" id="name" name="searchBy" [(ngModel)]="filter">Name
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="email" id="email" name="searchBy" [(ngModel)]="filter">Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="phone" id="phone" name="searchBy" [(ngModel)]="filter">Phone
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="lastName" id="lastName" name="searchBy" [(ngModel)]="filter">Last name
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="date" id="date" name="searchBy" [(ngModel)]="filter">Date
                    </label>
                </div>
                <div class="form-group">                
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="query"> 
                </div> 
            </div>
            <table *ngIf="orders" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10" class="table">
                <thead>
                    <tr>
                        <th>Total</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                        <th>Phone</th>
                        <th>First name</th>
                        <th><mfDefaultSorter by="lastName">Last name</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="date">Date</mfDefaultSorter></th>
                        <th>Token</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of mf.data | search:filter:query">
                        <td>{{ order.totalAmount | currency:'PLN':false }}</td>
                        <td>{{ order.unitPrice | currency:'PLN':false }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.firstName }}</td>
                        <td>{{ order.lastName }}</td>
                        <td>{{ order.date | date:'yyyy/MM/dd H:mm' }}</td>
                        <td>{{ order.token }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>                
            </table>
        </div>
    </div>
</div>
