<div class="container side-form">
    <div class="row">
        <div class="col-md-12">
            <h2>Create document</h2>
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="document-title">Title</label>
                            <input type="text"
                                   class="form-control"
                                   id="document-title"
                                   name="document-title"
                                   [(ngModel)]="document_title">
                        </div>
                        <div class="form-group">
                            <label for="document-body">Body</label>
                            <simple-tiny
                                name="document-body"
                                elementId="document-body"
                                [(ngModel)]="document_body">
                            </simple-tiny>
                        </div>
                    </div>
                    <div class="col-md-4">
<!--                        <label>Categories</label>
                        <div *ngFor="let category of categories">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           (change)="onChange(category.id, category.name, $event.target.checked)">
                                           {{category.name}}
                                </label>
                            </div>
                        </div>-->
                        <label>Browse forms</label>
                        <select class="form-control" (change)="showForm($event.target.value)">
                            <option *ngFor="let form of forms" value="{{form.id}}">  
                                {{form.name}}
                            </option>
                        </select>
                        <table class="table table-striped" *ngIf="form">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                            <tr *ngFor="let question of form.questions">
                                <td>
                                    {{question.id}}
                                </td>
                                <td>
                                    {{question.name}}
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <alert></alert>
                        <button type="submit"
                                class="btn btn-primary"
                                (click)="createDocument(document_title, document_body)">
                                Save</button> 
                        <button class="btn btn-default" (click)="goBack()">Back</button>
                    </div>
                </div>
            </form>           
        </div>
    </div>
</div>


