<!--<div class="container side-form">-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Create document</h2>
            <form *ngIf="document">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="document-title">Title</label>
                            <input type="text"
                                   class="form-control"
                                   id="document-title"
                                   name="document-title"
                                   (ngModelChange)="trackChanges(true)"
                                   [(ngModel)]="document.title">
                        </div>
                        <div class="form-group">
                            <label for="document-body">Body</label>
                            <simple-tiny
                                name="document-body"
                                elementId="document-body"
                                (ngModelChange)="trackChanges(true)"
                                [(ngModel)]="document.body">
                            </simple-tiny>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Browse forms</label>
                        <select *ngIf="forms" 
                                class="form-control"
                                name="selectedForm"
                                (ngModelChange)="showForm($event)"
                                [(ngModel)]="document.form.id">
                            <option [ngValue]="null" disabled hidden>Select form...</option>
                            <option *ngFor="let form of forms" [value]="form.id" [attr.disabled]="form.document">  
                                {{form.name}}
                            </option>
                        </select>
                        <table class="table table-striped" *ngIf="form">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                            <tr *ngFor="let question of form.questions">
                                <td>
                                    {{question.id}}
                                </td>
                                <td>
                                    {{question.name}}
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <alert></alert>
                        <button type="submit"
                                class="btn btn-primary"
                                (click)="createDocument()">
                                Save</button> 
                        <button class="btn btn-default" (click)="goBack()">Back</button>
                    </div>
                </div>
            </form>           
        </div>
    </div>
</div>


