<div class="container side-form">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="document">
                <h2>Update document</h2>                
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="document-title">Title</label>
                                <input type="text" 
                                       class="form-control" 
                                       id="document-title" 
                                       name="document-title" [(ngModel)]="document.title">
                            </div>
                            <div class="form-group">
                                <label for="document-body">Body</label>
                                <simple-tiny
                                    name="document-body"
                                    elementId="document-body"
                                    [(ngModel)]="document.body">
                                </simple-tiny>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <hr>
                            <alert></alert>
                            <button type="submit" 
                                    class="btn btn-primary" 
                                    (click)="updateDocument(document.id, document.title, document.body)">
                                    Save
                            </button>
                            <button class="btn btn-default" (click)="goBack()">Back</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
