<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Documents</h3>
            <button class="btn btn-default" [routerLink]="['/admin/document/create']">Add new</button>
            <hr>
            <alert></alert>
            <table class="table" [mfData]="documents" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th><mfDefaultSorter by="title">Title</mfDefaultSorter></th>
                        <th>Form</th>
                        <th><mfDefaultSorter by="added">Added</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="modified">Modified</mfDefaultSorter></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let document of mf.data">
                        <td>{{document.title}}</td>
                        <td *ngIf="document.form; else noForm">{{document.form.name}}</td>
                        <ng-template #noForm><td>---</td></ng-template>
                        <td>{{document.add_date | date:'yyyy/MM/dd H:mm'}}</td>
                        <td>{{document.modified_date | date:'yyyy/MM/dd H:mm'}}</td>
                        <td>
                            <button class="btn btn-primary" [routerLink]="['/admin/documents', document.id]">Edit</button>
                            <button class="btn btn-danger" (click)="deleteDocument(document)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
