<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Categories</h3>
            <alert></alert>
            <button class="btn btn-default" [routerLink]="['/admin/category/create']">Add new</button>
            <hr>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let category of categories">
                    <td>{{category.name}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/admin/categories', category.id]">Edit</button>
                        <button class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
