<!--<div class="container side-form">-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Create category</h2>
            <alert></alert>
            <form *ngIf="category">
                <div class="form-group">
                    <label for="category-name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="category-name"
                           name="category-name"
                           [(ngModel)]="category.name">
                </div>
                <button type="submit"
                        class="btn btn-primary"
                        (click)="createCategory(category.name)">
                    Save
                </button>
                <button class="btn btn-default" (click)="goBack()">Back</button>
            </form>
        </div>
    </div>
</div>
