<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="category">
                <h1>{{category.name}}</h1>
                <table class="table" [mfData]="category.forms" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th><mfDefaultSorter by="title">Title</mfDefaultSorter></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let form of mf.data">
                            <td><h3><a [routerLink]="['/forms', form.id]">{{form.name}}</a></h3></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

