<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Forms</h3>
            <button class="btn btn-default" [routerLink]="['/admin/form/add']">Add new</button>
            <hr>
            <table class="table" [mfData]="forms" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th><mfDefaultSorter by="name">Title</mfDefaultSorter></th>
                        <th>Categories</th>
                        <th><mfDefaultSorter by="addDate">Added</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="modifiedDate">Modified</mfDefaultSorter></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let form of mf.data">
                        <td>{{form.name}}</td>
                        <td><span *ngFor="let category of form.categories">{{category.name}}<br></span></td>
                        <td>{{form.addDate | date:'yyyy/MM/dd H:mm'}}</td>
                        <td>{{form.modifiedDate | date:'yyyy/MM/dd H:mm'}}</td>
                        <td>
                            <button class="btn btn-primary" [routerLink]="['/admin/forms', form.id]">Edit</button>
                            <button class="btn btn-danger" (click)="deleteForm(form)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

