<div class="container" *ngIf="form">
    <div class="row">
        <div class="col-md-12">           
            <h3>{{form.name}}</h3>
            <alert></alert>             
            <p>{{form.description}}</p>
            <div class="progress">
                <div class="progress-bar" 
                     role="progressbar" 
                     [attr.aria-valuenow]="pager.index + 1" 
                     aria-valuemin="0" 
                     [attr.aria-valuemax]="pager.count" 
                     [style.width]="((pager.index+1)*100)/pager.count + '%'" ngDefaultControl>
                    {{pager.index + 1}}/{{pager.count}}
                </div>
            </div> 
            <form #f="ngForm" (ngSubmit)="submitForm(f)" ngNativeValidate>
                <input type="hidden" name="formId" [(ngModel)]="form.id">
                <div class="tab-content">
                    <div *ngFor="let question of form.questions; let i = index; let first = first; let last = last" [class.active]="first" [class.in]="first" role="tabpanel" class="tab-pane fade" id="{{i}}">
                        <label for="{{question.id}}">{{question.name}}</label>
                        <div *ngIf="question.options[0]; else no_options">
                            <div class *ngIf="question.questionType === 'checkbox'">
                                <select class="form-control" multiple name="{{question.id}}" ngModel required>
                                    <option *ngFor="let option of question.options" value="{{option.name}}">  
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class *ngIf="question.questionType === 'radio'">
                                <div class="radio" *ngFor="let option of question.options">
                                    <label>
                                        <input type="radio" name="{{question.id}}" value="{{option.name}}" ngModel required>
                                        {{option.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <ng-template #no_options>
                            <div class="form-group">
                                <input class="form-control" name="{{question.id}}" id="{{question.id}}" [attr.type]="question.questionType" ngModel required>
                            </div>
                        </ng-template>
                        <hr>
                        <div class="text-sm-center">
                            <a class="btn btn-default" [attr.href]="'#'+0" [attr.aria-controls]="0" role="tab" data-toggle="tab" (click)="goTo(0);">
                                First
                            </a>                             
                            <a class="btn btn-default" [attr.href]="'#'+(i-1)" [attr.aria-controls]="i-1" role="tab" data-toggle="tab" (click)="goTo(pager.index - 1);">
                                Previous
                            </a>                            
                            <a class="btn btn-primary" [attr.href]="'#'+(i+1)" [attr.aria-controls]="i+1" role="tab" data-toggle="tab" (click)="goTo(pager.index + 1);">
                                Next
                            </a>
                            <a class="btn btn-default" [attr.href]="'#'+(pager.count - 1)" [attr.aria-controls]="pager.count - 1" role="tab" data-toggle="tab" (click)="goTo(pager.count - 1);">
                                Last
                            </a>
                            <button type="submit" class="btn btn-success pull-right" value="Submit" *ngIf="last">Submit</button>                            
                        </div>                          
                    </div>
                </div>
            </form> 
            <div *ngIf="text">
                <h2>{{text.title}}</h2>
                {{text.body}}
            </div>
        </div>
    </div>
</div>

