<!--<div class="container side-form">-->
<div class="container">
    <alert></alert>
    <div class="row" *ngIf="form">        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="button" class="btn btn-primary" (click)="saveForm()">Save</button>
                    <button class="btn btn-default" (click)="goBack()">Back</button> 
<!--                    <alert></alert>-->
                </div>
            </div> 
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#title" aria-controls="title" role="tab" data-toggle="tab">
                            Title & Description
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">
                            Categories
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#config" aria-controls="config" role="tab" data-toggle="tab">
                            Config
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">
                            Questions
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="title">
                        <div class="panel panel-default">
                            <div class="panel-body">                    
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" 
                                           class="form-control" 
                                           id="title" 
                                           name="name"
                                           (ngModelChange)="trackChanges(true)"
                                           [(ngModel)]="form.name">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" 
                                              id="description" 
                                              name="description" 
                                              rows="3"
                                              (ngModelChange)="trackChanges(true)" 
                                              [(ngModel)]="form.description">                                                  
                                    </textarea>
                                </div>
                            </div>
                        </div>                         
                    </div>
                    <div role="tabpanel" class="tab-pane" id="categories">
                        <div class="panel panel-default">               
                            <div class="panel-body">
                                <div class="checkbox" *ngFor="let category of categories">
                                    <label>
                                        <input type="checkbox"
                                               [checked]="findCategories(category.id, form.categories)"
                                               (change)="assignCategories(category.id, category.name, $event.target.checked)"
                                               (ngModelChange)="trackChanges(true)"
                                               [(ngModel)]="category.name">
                                        {{category.name}}
                                    </label>
                                </div>                    
                            </div>
                        </div>        
                    </div>
                    <div role="tabpanel" class="tab-pane" id="config">
                        <div class="panel panel-default">                         
                            <div class="panel-body">                    
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" 
                                               name="allowBack" 
                                               (ngModelChange)="trackChanges(true)"
                                               [(ngModel)]="form.config.allowBack">
                                            Allow back
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" 
                                               name="showPager" 
                                               (ngModelChange)="trackChanges(true)"
                                               [(ngModel)]="form.config.showPager">
                                            Show pager
                                    </label>
                                </div>                      
                            </div> 
                        </div>                         
                    </div>
                    <div role="tabpanel" class="tab-pane" id="questions">
                        <div class="panel panel-default">              
                            <div class="panel-body">
                                <form #addQuestionForm="ngForm" 
                                      (ngSubmit)="addQuestion(addQuestionForm)">
                                    <div class="form-group">
                                        <label for="message">Label</label>
                                        <input type="text" 
                                               class="form-control" 
                                               id="message" 
                                               name="name" 
                                               placeholder="Question" 
                                               (ngModelChange)="trackChanges(true)"
                                               ngModel>
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select class="form-control" 
                                                name="questionType" id="type" 
                                                [ngModel]="selectedType" 
                                                (ngModelChange)="onTypeSelect($event)">
                                            <option value="" disabled selected>Select type</option>
                                            <option *ngFor="let type of types" [value]="type.value">  
                                                {{type.display}}
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="selectedType == 'text'">
                                        <label>Validation</label>  
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                       name="validation" 
                                                       id="none" 
                                                       value="none" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="selectedOption">
                                                None
                                            </label>
                                        </div>                                    
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                       name="validation" 
                                                       id="email" 
                                                       value="email" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="selectedOption">
                                                E-mail
                                            </label>
                                        </div>  
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                       name="validation" 
                                                       id="code" 
                                                       value="code" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="selectedOption">
                                                Postal code
                                            </label>
                                        </div> 
                                    </div>
                                    <label>Required?</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" 
                                                   name="required" 
                                                   value="true" 
                                                   (ngModelChange)="trackChanges(true)"
                                                   [(ngModel)]="checked"> 
                                            Required
                                        </label>
                                    </div>                                     
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default" value="Submit">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>                         
        </div>
        <div class="col-md-6"> 
            <div [dragula]='"bag-questions"' [dragulaModel]='form.questions'>
                <div *ngFor="let question of form.questions | sort; let i = index">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span><strong>{{question.name}}</strong></span> 
                            <span>(type: <strong>{{question.questionType}}</strong>,</span> 
                            <span *ngIf="question.questionType === 'text'">
                                validation: <strong>{{question.validation}}</strong>,
                            </span> 
                            <span>required: <strong>{{question.required}}</strong>)</span>
                            <button type="button" 
                                    class="btn btn-danger btn-xs pull-right" 
                                    (click)="deleteQuestion(question.id, question.name)">
                                <i class="ion-trash-a"></i>
                            </button>                        
                            <button class="btn btn-default btn-xs pull-right" 
                                    type="button" 
                                    data-toggle="collapse" 
                                    [attr.data-target]="'#collapse_'+i"
                                    aria-expanded="false" 
                                    aria-controls="collapse"
                                    (click)="toogleOpen(i)">
                                <i *ngIf="isOpen && iterator === i; else closed" class="ion-minus"></i>
                                <ng-template #closed><i class="ion-plus"></i></ng-template>
                            </button>
                            <div class="collapse" id="collapse_{{i}}">
                                <ng-container [ngSwitch]="true">
                                    <div class="well" *ngSwitchCase="question.questionType === 'checkbox'"> 
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" 
                                                       name="required_{{i}}" 
                                                       value="true"
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="question.required"> 
                                                Required?
                                            </label>
                                        </div>                                    
                                        <input type="text" 
                                               class="form-control"
                                               (change)="trackChanges(true)"
                                               #checkboxName>
                                        <button type="button" 
                                                class="btn btn-default btn-sm" 
                                                (click)="addOption(question, checkboxName.value)">
                                            Add checkbox
                                        </button>
                                    </div>
                                    <div class="well" *ngSwitchCase="question.questionType === 'radio'">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" 
                                                       name="required_{{i}}" 
                                                       value="true" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="question.required"> 
                                                Required?
                                            </label>
                                        </div>                                    
                                        <input type="text" 
                                               class="form-control"
                                               (change)="trackChanges(true)"
                                               #radioName>
                                        <button type="button" 
                                                class="btn btn-default btn-sm" 
                                                (click)="addOption(question, radioName.value)">
                                            Add radio
                                        </button>                                   
                                    </div>
                                    <div class="well" *ngSwitchCase="question.questionType === 'text'">
                                        <label>Validation</label>  
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                       name="validation_{{i}}" 
                                                       value="none"
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="question.validation">
                                                None
                                            </label>
                                        </div>                                    
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                       name="validation_{{i}}" 
                                                       value="email" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="question.validation">
                                                E-mail
                                            </label>
                                        </div>  
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                       name="validation_{{i}}" 
                                                       value="code" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="question.validation">
                                                Postal code
                                            </label>
                                        </div>  
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" 
                                                       name="required_{{i}}" 
                                                       value="true" 
                                                       (ngModelChange)="trackChanges(true)"
                                                       [(ngModel)]="question.required"> 
                                                Required?
                                            </label>
                                        </div>                                    
                                    </div>                                
                                </ng-container>     
                            </div>                                                                                
                        </div>
                        <ng-container [ngSwitch]="true">
                            <!-- TEXT -->
                            <div class="panel-body" *ngSwitchCase="question.questionType === 'text'">
                                <label>Question title</label>
                                <input type="text" 
                                    class="form-control" 
                                    name="question_{{i}}"
                                    (ngModelChange)="trackChanges(true)"
                                    [(ngModel)]="question.name">
                            </div>
                            <!-- CHECKBOX -->
                            <div class="panel-body" *ngSwitchCase="question.questionType === 'checkbox'">
                                <label>Question title</label>
                                <input type="text" 
                                    class="form-control" 
                                    name="question_{{i}}"
                                    (ngModelChange)="trackChanges(true)"
                                    [(ngModel)]="question.name">                                
                                <div *ngFor="let checkbox of question.options"> 
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" disabled>
                                            {{checkbox.name}} 
                                            <button type="button" 
                                                    class="btn btn-danger btn-xs" 
                                                    (click)="deleteOption(question, checkbox.id, checkbox.name)">
                                                <i class="ion-trash-a"></i>
                                            </button>
                                        </label>
                                    </div>                        
                                </div>                           
                            </div>                       
                            <!-- RADIO -->
                            <div class="panel-body" *ngSwitchCase="question.questionType === 'radio'">
                                <label>Question title</label>
                                <input type="text" 
                                    class="form-control" 
                                    name="question_{{i}}"
                                    (ngModelChange)="trackChanges(true)"
                                    [(ngModel)]="question.name">                                
                                <div *ngFor="let radio of question.options">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" disabled>
                                            {{radio.name}}
                                            <button type="button" 
                                                    class="btn btn-danger btn-xs" 
                                                    (click)="deleteOption(question, radio.id, radio.name)">
                                                <i class="ion-trash-a"></i>
                                            </button>                            
                                        </label>
                                    </div>                       
                                </div>                             
                            </div>                       
                        </ng-container>                    
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
