<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #mainForm="ngForm" (ngSubmit)="submitMainForm(mainForm)">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="name" placeholder="Title" ngModel>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" ngModel></textarea>
                </div>
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </form>
            <hr>
            <form #addFormFieldForm="ngForm" (ngSubmit)="addFormField(addFormFieldForm)">
                <label for="message">Add Question</label>
                <input type="text" class="form-control" id="message" name="name" placeholder="Question" ngModel>
                <label for="type">Choose type</label>
                <select name="questionType" id="type" [(ngModel)]="selectedValue">
                    <option *ngFor="let type of types" [value]="type.value">  
                    {{type.display}}
                    </option>
                </select>
                <button type="submit" class="btn btn-primary btn-xs" value="Submit">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <label>Questions:</label>
            <div *ngFor="let field of formFields">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{field.label}} (type: {{field.type}}, id: {{field.id}})
                        <button class="btn btn-danger btn-xs pull-right" (click)="deleteFormField()">Delete</button>                                
                    </div>
                    <ng-container [ngSwitch]="true">
                        <!-- TEXT -->
                        <div class="panel-body" *ngSwitchCase="field.type === 'text'">
                            <form #questionForm="ngForm" (ngSubmit)="submitQuestionForm(questionForm)">    
                                <input type="{{field.type}}" 
                                    class="form-control" 
                                    name="{{field.name}}" 
                                    placeholder="{{field.placeholder}}" ngModel>
                            </form>
<!--                            <form #addOptionFieldForm="ngForm" (ngSubmit)="addOptionField(addOptionFieldForm)">
                                <label for="option">Add option</label>
                                <input type="text" class="form-control" id="option" name="name" placeholder="Answer" ngModel>                            
                                <label for="optionType">Add buttons</label>
                                <select name="optionType" id="optionType" [(ngModel)]="selectedValue">
                                    <option *ngFor="let optionType of optionTypes" [value]="optionType.value">  
                                    {{optionType.display}}
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-primary btn-xs" value="Submit">Submit</button>    
                            </form>                            -->
                        </div>
                        <!-- CHECKBOX -->
                        <div class="panel-body" *ngSwitchCase="field.type === 'checkbox'">
                            <form #addCheckboxForm="ngForm" (ngSubmit)="addCheckbox(addCheckboxForm)">
                                <label for="option">Add checkbox</label>
                                <input type="text" class="form-control" id="option" name="name" placeholder="Checkbox label" ngModel>
                                <input type="hidden" name="fieldId" value="{{field.id}}" ngModel> 
                                <button type="submit" class="btn btn-primary btn-xs" value="Submit">Add checkbox</button>    
                            </form>                            
                        </div>
<!--                        let checkbox of THIS formField checkboxes -->
                        <div *ngFor="let checkbox of checkboxFields"> 
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    {{checkbox.label}}
                                </label>
                            </div>                        
                        </div>                        
                        <!-- RADIO -->
                        <div class="panel-body" *ngSwitchCase="field.type === 'radio'">
                            <form #addRadioForm="ngForm" (ngSubmit)="addRadio(addRadioForm)">
                                <label for="radio">Add radio</label>
                                <input type="text" class="form-control" id="radio" name="name" placeholder="Checkbox label" ngModel>
                                <button type="submit" class="btn btn-primary btn-xs" value="Submit">Add radio</button>    
                            </form>                            
                        </div>
                        <div *ngFor="let radio of radioFields">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="{{radio.name}}" id="{{radio.id}}" value="option1">
                                    {{radio.label}}
                                </label>
                            </div>                       
                        </div>                        
                    </ng-container>                    
                </div>
            </div>  
        </div>
    </div>    
</div>