<div class="container">
    <div class="row">
        <div class="col-md-6">            
            <div class="panel panel-default">
                <div class="panel-heading">Add form</div>
                <div class="panel-body">
                    <form #mainForm="ngForm" (ngSubmit)="submitMainForm(mainForm)">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="name" placeholder="Title" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" ngModel></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" value="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>              
            <div class="panel panel-default">
                <div class="panel-heading">Add Question</div>
                <div class="panel-body">
                    <form #addFormFieldForm="ngForm" (ngSubmit)="addFormField(addFormFieldForm)">
                        <div class="form-group">
                            <label for="message">Label</label>
                            <input type="text" class="form-control" id="message" name="name" placeholder="Question" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select class="form-control" name="questionType" id="type" [(ngModel)]="selectedValue">
            <!--                    <option value="" disabled selected>Select type</option>-->
                                <option *ngFor="let type of types" [value]="type.value">  
                                    {{type.display}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" value="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        <div class="col-md-6">
            <div *ngFor="let field of formFields">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{field.label}} (type: {{field.type}}, id: {{field.id}})
                        <button class="btn btn-danger btn-xs pull-right" (click)="deleteFormField(field.label)">Delete</button>                                
                    </div>
                    <ng-container [ngSwitch]="true">
                        <!-- TEXT -->
                        <div class="panel-body" *ngSwitchCase="field.type === 'text'">
                            <form>    
                                <input type="{{field.type}}" 
                                    class="form-control" 
                                    name="{{field.name}}" 
                                    placeholder="{{field.placeholder}}" ngModel disabled>
                            </form>
                        </div>
                        <!-- CHECKBOX -->
                        <div class="panel-body" *ngSwitchCase="field.type === 'checkbox'">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on top
</button>                            
                            <form #addCheckboxForm="ngForm" (ngSubmit)="addCheckbox(addCheckboxForm)">
                                <label for="option">Add checkbox</label>
                                <input type="text" class="form-control" id="option" name="name" placeholder="Checkbox label" ngModel>
                                <input type="hidden" name="fieldId" [(ngModel)]="field.id">
                                <input type="hidden" name="fieldLabel" [(ngModel)]="field.label">
                                <button type="submit" class="btn btn-primary btn-xs" value="Submit">Add checkbox</button>    
                            </form>                            
                        </div>
<!--                        let checkbox of THIS formField checkboxes -->
                        <div *ngFor="let checkbox of field.checkboxFields"> 
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    {{checkbox.label}}
                                </label>
                            </div>                        
                        </div>                        
                        <!-- RADIO -->
                        <div class="panel-body" *ngSwitchCase="field.type === 'radio'">
                            <form #addRadioForm="ngForm" (ngSubmit)="addRadio(addRadioForm)">
                                <label for="radio">Add radio</label>
                                <input type="text" class="form-control" id="radio" name="name" placeholder="Checkbox label" ngModel>
                                <input type="hidden" name="fieldId" [(ngModel)]="field.id">
                                <input type="hidden" name="fieldLabel" [(ngModel)]="field.label">
                                <button type="submit" class="btn btn-primary btn-xs" value="Submit">Add radio</button>    
                            </form>                            
                        </div>
                        <div *ngFor="let radio of field.radioFields">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="{{radio.name}}" id="{{radio.id}}" value="option1">
                                    {{radio.label}}
                                </label>
                            </div>                       
                        </div>                        
                    </ng-container>                    
                </div>
            </div>  
        </div>
    </div>    
</div>
