<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Transactions</h3>
            <alert></alert>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by e-mail..." [(ngModel)]="query"> 
            </div>          
            <table *ngIf="texts" class="table">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Token</th>
                    <th>E-mail</th>
                </tr>
                <tr *ngFor="let text of texts | search:'email':query">
                    <td>{{text.title}}</td>
                    <td>{{text.addDate | date:'yyyy/MM/dd H:mm'}}</td>
                    <td>{{text.token}}</td>
                    <td>{{text.email}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
