<div class="container">
    <div class="row">
        <div class="col-md-12">
            <alert></alert>
            <div *ngIf="text">
                <h2 class="text-center">{{text.title}}</h2>
                <div [innerHTML]="text.body | truncate: 1000 | safeHtml"></div> 
                <div class="fadeout"></div>
                <div class="jumbotron">
                    <h2 class="text-center">Jeśli chcesz czytać dalej...</h2>
                    <p class="text-center">
                        <a class="btn btn-primary btn-lg" role="button" (click)="saveText()">Pay and save</a>
                    </p>
                    <form [formGroup]="paymentForm" novalidate (ngSubmit)="transaction(paymentForm.value, paymentForm.valid)">
                        <input type="hidden" formControlName="totalAmount">
                        <div class="form-group" formGroupName="buyer">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email">
                            <small [hidden]="paymentForm.controls.buyer.controls.email.valid || (paymentForm.controls.buyer.controls.email.pristine && !submitted)">
                                Email is required (must be valid email).
                            </small>
                        </div>
                        <div class="form-group" formGroupName="buyer">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" formControlName="phone">
                            <small [hidden]="paymentForm.controls.buyer.controls.phone.valid || (paymentForm.controls.buyer.controls.phone.pristine && !submitted)">
                                Phone is required (format: 9 digits).
                            </small>
                        </div>
                        <div class="form-group" formGroupName="buyer">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" formControlName="firstName">
                            <small [hidden]="paymentForm.controls.buyer.controls.firstName.valid || (paymentForm.controls.buyer.controls.firstName.pristine && !submitted)">
                                First name is required.
                            </small>
                        </div> 
                        <div class="form-group" formGroupName="buyer">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName">
                            <small [hidden]="paymentForm.controls.buyer.controls.lastName.valid || (paymentForm.controls.buyer.controls.lastName.pristine && !submitted)">
                                Last name is required.
                            </small>
                        </div>
                        <div formGroupName="buyer">
                            <input type="hidden" formControlName="language">
                        </div>
                        <div class="checkbox" formGroupName="settings">
                            <label>
                                <input type="checkbox" formControlName="invoiceDisabled">
                                Invoice?
                            </label>
                        </div>    
                        <div formArrayName="products">
                            <div formGroupName="0">
                                <input type="hidden" formControlName="name">
                            </div>    
                            <div formGroupName="0">
                                <input type="hidden" formControlName="unitPrice">
                            </div>
                            <div formGroupName="0">
                                <input type="hidden" formControlName="quantity">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>                   
                </div>                
            </div>
        </div>
    </div>
</div>    