<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Manage documents</h2>
                <p><a class="btn btn-primary btn-lg"
                      role="button"
                      [routerLink]="['/admin/documents']">Manage documents</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Manage categories</h2>
                <p><a class="btn btn-primary btn-lg"
                      role="button"
                      [routerLink]="['/admin/categories']">Manage categories</a>
                </p>
            </div>
        </div>
    </div>
</div>

